body {
    margin: 0px;
}

#header {
    grid-area: header;
    font-size: 24px;
    text-align: center;
}

/*** Top Menu ***/

#top-menu {
    grid-area: menu;
    background-color: #ccc;
}

#top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-link {
    float: left;
}

.menu-link.right {
    float: right;
}

.menu-link a {
    display: block;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.menu-link a:visited {
    color: #000;
}

.menu-link a:hover {
    background-color: #999;
}

.menu-link a.active {
    background-color: #000;
    color: #fff;
}

/*** Info & Content ***/

#info {
    grid-area: left;
    max-width: 100%;
}

#info img {
    max-width: 100%;
}

#content {
    grid-area: main;
}

/*** Footer ***/

#footer {
    grid-area: footer;
    background-color: #666;
    color: #fff;
    text-align: center;
}

/*** Grid settings ***/

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'menu menu menu'
        'left main main'
        'footer footer footer';
    grid-gap: 10px;
}
