* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#header {
    grid-area: header;
    font-size: 24px;
    text-align: center;
}

/*** Top Menu ***/

#top-menu {
    display: flex;
    background-color: #ccc;
}

.menu-link {
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

.menu-link.right {
    margin-left: auto;
}

.menu-link:visited {
    color: #000;
}

.menu-link:hover {
    background-color: #999;
}

.menu-link.active {
    background-color: #000;
    color: #fff;
}

/*** Info & Content ***/

#flexbox {
    display: flex;
    flex-wrap: wrap;
}

#info {
    flex: 30%;
    padding: 15px;
}

#content {
    flex: 70%;
    padding: 15px;
}

#info img {
    width: 100%;
}

/*** Footer ***/

#footer {
    grid-area: footer;
    background-color: #666;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 767px) {
    #top-menu, #flexbox {
        flex-direction: column;
    }
    
    .menu-link {
        width: 100%;
        text-align: center;
    }
}